# Xcode
## User settings
xcuserdata/
*.xcuserdatad
*.xcuserstate

## Build generated
build/
DerivedData/
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM

## macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

## Project workspace
project.xcworkspace/xcuserdata/
